# Dependency directories
**/node_modules/

# SQLite database files
**/database.sqlite
*.db
*.sqlite

# Build outputs
**/dist/
**/build/

# Local env files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
